TOKEN=
deepai=
error_chid=
saucenao_key=
safebrowsing_key=
pixiv_refresh_token=
# Comma-separated i.pximg.net reverse proxies, tried in order. Defaults to i.pixiv.cat.
pixiv_proxy_hosts=i.pixiv.cat,i.loli.best
imgur_id=
imgur_secret=
exchangerate_key=
sentry_dsn=